.addBook, .editBook {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addBook h2, .editBook h2 {
    text-align: center;
    color: #333;
}

.addBook form, .editBook form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addBookText div, .editBookText div {
    display: flex;
    flex-direction: column;
}

.addBookText label, .editBookText label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.textInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.textInput:focus {
    border-color: #007bff;
    outline: none;
}

.addBookText textarea.textInput, .editBookText textarea.textInput {
    width: 578px;
    resize: vertical;
}

.addBookButtons, .editBooksButtons {
    display: flex;
    justify-content: space-between;
}

.addBookButtons button, .editBooksButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #afd59a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBookButtons button:hover, .editBooksButtons button:hover {
    background-color: #56684c;
}

.editBooksButtons button:nth-child(2) {
    background-color: #6c757d;
}

.editBooksButtons button:nth-child(2):hover {
    background-color: #5a6268;
}