  
.content{
  background-color: rgb(255, 255, 255)
}


.bookcontent {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.books {
  font-size: medium;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  width: 15%;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid black; 
  padding-bottom: 1px;
}

.cover {
  max-width: 100%;
}

.book-content {
  text-align: left;
}

